:root {
  --small-text: 15px;
  --large-text: 25px;
}

 @media only screen and (max-width: 600px) {
  body {
    font-size: var(--small-text);
  }
}

@media only screen and (min-width: 600px) {
  body {
    font-size: var(--large-text);
  }
}

body {
  background-color: antiquewhite;
  font-family: "Rubik";
}

.grid-container {
  display: inline-grid;
  height: 122px;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 3fr 4fr 2fr 1fr;
  grid-gap: 20px;
  padding: 10px;
  margin: 20px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}

.item2 {
  grid-row-start: 2;
  grid-row-end: 5;
}

.item3 {
  text-align: center;
}

.item4 {
  text-align: justify;
  width: 550px;
  padding-top: 35px;
  padding-right: 20px;
  padding-left: 20px;
}

.item5 {
  text-align: center;
}

.item6 {
  text-align: justify;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.item7 {
  padding: 20px;
}

.item8 {
  text-align: center;
  padding-top: 80px;
}

h3 {
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: purple;
}

a:hover {
  text-decoration: none;
  font-weight: bolder;
}

li {
  text-align: left;
}
