body{
   
    background-color: antiquewhite;
    font-family: "Rubik";
}

form{
    text-align: right;
    margin-right: 1100px;
    margin-left:0px;
}
.star{
    font-size: 14px;
}
a{
    font-size: 18px;
}